/dts-v1/;

#include "imx8mm-tx8m-1610.dtsi"

/ {
	model = "Ka-Ro electronics TX8M-1610-TEST";
	compatible = "karo,imx8mm-tx8m-1610-test", "karo,imx8mm-tx8m-1610", "fsl,imx8mm";
	barebox,deep-probe;

	chosen {
		environment-emmc {
			compatible = "barebox,environment";
			device-path = &env_sd1;
		};
	};
};

&ocotp {
	barebox,provide-mac-address = <&fec1 0x640>;
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&usdhc1 {
	partitions {
		compatible = "barebox,fixed-partitions";
		#address-cells = <2>;
		#size-cells = <2>;

		partition@0 {
			label = "barebox";
			reg = <0x0 0x0 0x0 0x100000>;
		};

		env_sd1: partition@100000 {
			label = "barebox-environment";
			reg = <0x0 0x100000 0x0 0x100000>;
		};
	};
};

&iomuxc {
	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX8MM_IOMUXC_UART3_RXD_UART3_DCE_RX /* COM pin 62 */
			(MX8MM_PULL_UP | MX8MM_PULL_ENABLE)
			MX8MM_IOMUXC_UART3_TXD_UART3_DCE_TX /* COM pin 61 */
			(MX8MM_PULL_UP | MX8MM_PULL_ENABLE)
		>;
	};
};
